.container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.sort {
  margin-bottom: 13px;
}

.divider {
  margin-bottom: 48px;
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}
