.wrapper {
}

.listGroup {
  margin-bottom: 40px;
  width: 50%;
}

.item {
  cursor: pointer;
}

.item::before {
  font-size: 16px;
}

.destination {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}
